parameters:
	level: 6
	paths:
		- PSR2R/
	bootstrapFiles:
		- %rootDir%/../../../tests/phpstan_bootstrap.php
	ignoreErrors:
		- '#Unreachable statement - code above always terminates.#'
	checkMissingIterableValueType: false
