<?xml version="1.0" encoding="UTF-8"?>
	<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">

	<php>
		<ini name="memory_limit" value="-1"/>
		<ini name="apc.enable_cli" value="1"/>
	</php>

	<testsuites>
		<testsuite name="psr2r">
			<directory>tests/PSR2R/</directory>
		</testsuite>
	</testsuites>

	<coverage processUncoveredFiles="true">
		<include>
			<directory>PSR2R/</directory>
		</include>
	</coverage>
</phpunit>
